.offset {
    position: fixed;
    width: 100%;
    transition: all .2s ease;
    z-index: 4;
}

.offset.scrolled {
    background: #ffffff;
    box-shadow: 2px 1px 12px rgba(0,0,0,.3);
}

.offset.scrolled .chirp-nav{
    margin: 0 auto;
    height: 70px;
}

#main::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    z-index: 3;
    opacity: 0;
    transition: all 1s ease;
    top: 0;
    pointer-events: none;
}
.chirp-nav {
    width: 100%;
    left: 0;
    right: 0;
    box-sizing: border-box;
    max-width: 1042px;
    z-index: 4;
    transition: all .4s ease;
}
.chirp-nav a {
    color: var(--text-primary);
    margin-left: 27px;
    position: relative;
}

.nav-links li:not(:last-child) a:after {
    content: "";
    position: absolute;
    background: var(--text-primary);
    width: 0;
    height: 1px;
    left: 0;
    bottom: 0;
    transition: all .3s;
}

.nav-links li:not(:last-child) a:hover::after {
    width: 100%;
}

.chirp-nav button, .chirp-nav #hamburger {
    display: none;
}

#hamburger div {
    width: 30px;
    height: 2px;
    background: #000;
    margin: 5px 0;
    transition: all 0.3s ease;
}

.offset.open #hamburger div:nth-child(3) {
    width: 10px;
}

.offset.open #hamburger div:nth-child(2) {
    width: 20px;
}

#close-nav, #hamburger {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}
#close-nav span::after {
    content: "";
    width: 25px;
    position: absolute;
    height: 2px;
    background: #000;
}

#close-nav span:nth-child(1)::after {
    transform: rotate(45deg);
}

#close-nav span:nth-child(2)::after {
    transform: rotate(-45deg);
}

.logo {
    margin: 0;
    font-style: italic;
    color: #3280f5;
    font-weight: 700;
}

.twitter {
    background: var(--twitter-link);
    color: #fff !important;
    padding: 15px;
    font-weight: 600;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
}

.twitter svg {
    vertical-align: middle;
    margin-right: 6px;
}


/* HERO DIVISION PART */

.divider>* {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;

}

.first {
    flex: 1 0 0%;
}

.info-cards {
    flex: 1 0 0%;
}

@media (min-width:481px) and (max-width: 992px) {
    .stats-card {
        flex: 0 0 auto;
        width: 60%;
        margin-right: 15px;
    }

    .stat-card:first-child {
        margin: 0;
    }

    .info-stat {
        flex-direction: column-reverse;
    }
}

@media (min-width: 992px) {
    .second {
        flex: 0 0 auto;
        width: 40%;
    }
}


.profile-stack img:not(:first-child) {
    margin-left: -26px;
}

.hero-buttons {
    row-gap: 20px;
}

.hero-buttons a:not(:first-child) {
    margin: 0 20px;
    color: var(--link-primary);
    font-weight: 700;
}


.stats, .stat-card, .card, .stat-option, .profile-stats {
    background: #fff;
    padding: 15px;
    border-radius: 4px;
}

.profile-stats {
    background: var(--bg-secondary);
}

.profile {
    margin-left: 10px;
    align-self: center;
}

.stat-username {
    font-weight: 600;
}

#live-dot {
    position: relative;
}

#live-dot::after {
    content: "";
    position: absolute;
    background: #5fdabf;
    width: 10px;
    height: 10px;
    border-radius: 30px;
    bottom: 0;
    top: 5px;
    left: 6px;
}

.stat-info {
    font-weight: 200;
    font-size: .9rem;
}

.stat-card {
    margin: 20px 0;
    box-shadow: 0px 10px 20px #b2cbcb, 10px -10px 20px #d7f5f5;
}

.features-grid {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.features-grid .card {
    border: 1px solid #c4c4c4;
}

.card {
    height: fit-content;
}

.card img {
    width: 32px;
    height: 32px;
}

.customers {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.price-card {
    border: 1px solid #f8ad3d;
    border-radius: 6px;
}

.plan-list li {
    margin: 20px 0;
}

/* LARGE SCREENS */
@media (min-width: 1200px) {

    .hero-description {
        width: 550px;
    }
}

/* SMALL SCREENS */
@media (max-width: 480px) {

    .features-grid, .customers {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .hero-title {
        font-size: 2rem;
    }

}

@media screen and (max-width: 992px) {
    .nav-links {
        position: fixed;
        height: 100vh;
        width: 80%;
        left: -100%;
        top: 0px;
        display: block;
        padding: 70px 0;
        text-align: center;
        background: #fff;
        transition: all 1s ease;
        margin: 0;
        z-index: 9;
    }

    .chirp-nav a {
        margin-left: 0;
    }

    .nav-links.open {
        left: 0;
    }

    #main.open::after {
        opacity: 1;
        pointer-events: all;
    }

    .chirp-nav button, .chirp-nav #hamburger {
        display: block;
    }

    body.disable {
        overflow: hidden;
    }
}